<!DOCTYPE html>
<html lang="en">
<head>
    <title>Login V10</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="{{ asset('images/icons/favicon.ico') }}"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/bootstrap/css/bootstrap.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/font-awesome-4.7.0/css/font-awesome.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('fonts/Linearicons-Free-v1.0.0/icon-font.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animate/animate.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/animsition/css/animsition.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/select2/select2.min.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('vendor/daterangepicker/daterangepicker.css') }}">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="{{ asset('css/util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('css/main.css') }}"">
    <!--===============================================================================================-->
</head>
<body>

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">
            <form action="{{ path('general_login_check') }}"  method="post" class="login100-form validate-form flex-sb flex-w">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
                <span class="login100-form-title p-b-51">
                    {{ ('login.name' | trans({}, 'general')) }}
                </span>


                <div class="wrap-input100 validate-input m-b-16 username-container" data-validate="{{ ('login.form.username_required' | trans({}, 'general')) }}">
                    <input class="input100" type="text" name="_username" placeholder="{{ ('login.form.user' | trans({}, 'general')) }}">
                    <span class="focus-input100"></span>
                </div>


                <div class="wrap-input100 validate-input m-b-16 password-container" data-validate="{{ ('login.form.password_required' | trans({}, 'general')) }}">
                    <input class="input100" type="password" name="_password" placeholder="{{ ('login.form.password' | trans({}, 'general')) }}">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input class="input-checkbox100" id="ckb1" type="checkbox" name="_remember_me">
                        <label class="label-checkbox100" for="ckb1">
                            {{ ('login.form.remember' | trans({}, 'general')) }}
                        </label>
                    </div>

                    {#<div>
                        <a href="#" class="txt1">
                            Forgot?
                        </a>
                    </div>#}
                </div>


                {% if error is not null and error != 'bc' %}
                <div style="width: 100%;">
                    <p style="width: 100%; text-align: center; color: #c80000">{{ ('login.form.error.'~error | trans({}, 'general')) }}</p>
                </div>
                {% endif %}

                <div class="container-login100-form-btn m-t-17">
                    <button type="submit" class="login100-form-btn">
                        {{ ('login.form.enter' | trans({}, 'general')) }}
                    </button>
                </div>

            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="{{ asset('vendor/jquery/jquery-3.2.1.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('vendor/animsition/js/animsition.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('vendor/bootstrap/js/popper.js') }}"></script>
<script src="{{ asset('vendor/bootstrap/js/bootstrap.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('vendor/select2/select2.min.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('vendor/daterangepicker/moment.min.js') }}"></script>
<script src="{{ asset('vendor/daterangepicker/daterangepicker.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('vendor/countdowntime/countdowntime.js') }}"></script>
<!--===============================================================================================-->
<script src="{{ asset('js/main.js') }}"></script>

<script>
    (function($) {
        function showValidate(cls, message) {
            var $element = $("."+cls);
            $element.attr('data-validate', message);
            $element.addClass('alert-validate');
        }
        function hideValidate(cls, message) {
            var $element = $("."+cls);
            $element.attr('data-validate', message);
            $element.removeClass('alert-validate');
        }
        hideValidate("username-container");
        $('.username-container .input100').focus(function(){
            hideValidate("username-container", "{{ ('login.form.username_required' | trans({}, 'general')) }}");
        });
        hideValidate("password-container");
        $('.password-container .input100').focus(function(){
            hideValidate("password-container", "{{ ('login.form.password_required' | trans({}, 'general')) }}");
        });

        {% if error is not null and error == 'bc' %}
        var message = "{{ ('login.form.error.bc' | trans({}, 'general')) }}";
        showValidate("username-container", message);
        showValidate("password-container", message);
        {% endif %}
    })($);
</script>

</body>
</html>